body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --green-color: #00FB11;
  --secondary-color: #D4DCD6;
  --header-color: black;
  --footer-color: black;
}

/* General HTML elements */
h1 {
  color: var(--green-color);
}

/* header & navigation bar */
header {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  padding-left: 15px;
}

header nav ul {
  align-items: stretch;
  color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-right: 15px;
  padding-top: 10px;
}

header nav ul li span {
  background: var(--secondary-color);
  border: 1px solid black;
  color: var(--header-color);
  font-size: 25px;
  font-weight: ligher;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
}

/* main contect flexbox container */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

/* main content */
.main-content {
  display:grid;
  grid-template-columns: repeat(1, 100% [col-start]);
  padding: 10px;
}

.content {
  flex: 1 0 auto;
  height: 100%;
}

/* home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border-bottom: .5px solid black;
  border-left: .5px solid black;
  border-right: .5px solid black;
}

.home img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: center;
}

.home h2 {
  justify-content: center;
}

/* socials image sizing */
#GitHub {
  height: 50px;
  margin: 0;
  text-align: center;
  width: 50px;
}

#LinkedIn {
  height: 40px;
  margin-top:5px;
  margin-left:5px;
  text-align: center;
  width: 40px;
  
}

/* about me */
.aboutme {
  display: block;
  position: relative;
}

/* projects: container */
.projects {
  display: flex;
  flex-direction: column;
}

/* main project container */
.project-main {
  justify-content: center;
}

/* second row of projects */
.project-second {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* project banners - main */
.banner-main {
  position: relative;
  text-align: left;
}

.banner-main img {
  height: auto;
  width: 100%;
}

/* project banners - secondary */
.banner-secondary {
  align-content: space-evenly;
  text-align: left;
  position: relative;
  height: 100%;
}

.banner-secondary img {
  flex: 1;
  width: 100%;
  height: 100%;
}

/* project banners - primary */
.banner-text {
  background-color: black;
  bottom: 9px;
  color: var(--green-color);
  left: 16px;
  padding: 5px;
  position: absolute;
}

.thirdrow{
  justify-content: center;
}

/* small gap between row wise flex elements */
.col-gap {
  margin: 2px;
}

/* contact information */
.contact {
  display: flex;
  flex-direction: column;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

.contact div {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 75px;
}

.contact img {
  max-width: 100%;
  height: 100%;
}

.contact h3 {
  text-align: left;
  margin-left: 10px;
  margin-top: 25px;
  vertical-align: center;
  width: 100%;
}

#runbuddy{
  width: 50%;
  height: 100%;
  
}

footer {
  flex-shrink:0;
  width: 100%;
  text-align: center;
  /* background: var(--footer-color); */
  background: var(--header-color);
}

.container {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 50% [col-start]);
  column-gap: 7px;
  row-gap: 7px; 
}

/* change project grid to vertical line when the screen shrinks below 768px */
@media (max-width: 768px) {
  .container {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 100% [col-start]);
    column-gap: 7px;
    row-gap: 7px; 
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 3px solid #a07;
}
